<p>Comments</p>

<% @comments.each do |comment| %>
	<h2><%= comment.author %></h2>
	<p><%= comment.body %><p><br>
<% end %>

<%= form_for :comment do |f| %>
	Author: <%= f.text_field :author %><br>
	Body: <%= f.text_field :body %><br>
	<%= f.submit %>
<% end %>

